In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import requests
from bisect import bisect
import datetime

In [4]:
IHi_list = [50, 100, 200, 300, 400, 500]
ILo_list = [0, 51, 101, 201, 301, 401]
BPHi_list = [30, 60, 90, 120, 250, 500]
BPLo_list = [0, 31, 61, 91, 121, 251]

def pm25_aqi(Cp):
    index = bisect(BPLo_list, Cp) - 1
    aqi = ((IHi_list[index] - ILo_list[index]) / (BPHi_list[index] - BPLo_list[index])) * (Cp - BPLo_list[index]) + ILo_list[index]
    return aqi

In [5]:
def data_by_date(start_date, end_date, location_id):
    api_url = f"https://api.openaq.org/v2/measurements?date_from={start_date}&date_to={end_date}&limit=7000&sort=desc&parameter=pm25&location_id={location_id}&order_by=datetime"
    response = requests.get(api_url)
    print(response)

    results = response.json()["results"]
    df = pd.DataFrame(columns=['datetime', 'pm2.5'])

    for i, result in enumerate(results):
        datetime = result["date"]["local"]
        pm25 = result["value"]

        df.loc[i] = [datetime, pm25]

    df.datetime = pd.to_datetime(df.datetime)

    df['month'] = df['datetime'].dt.strftime('%m')
    df['day'] = df['datetime'].dt.strftime('%d')
    df['year'] = df['datetime'].dt.strftime('%Y')
    df['time'] = df['datetime'].dt.strftime('%H:%M:%S')

    df['sub_index'] = df['pm2.5'].map(pm25_aqi)

    return df

In [6]:
def month_wise_year_data(year, location_id):
    start_date = datetime.date(year, 1, 1).strftime('%Y-%m-%d')
    end_date = datetime.date(year, 12, 1).strftime('%Y-%m-%d')

    year_data = data_by_date(start_date, end_date, location_id)
    
    # return year_data.drop('pm2.5', axis=1).groupby(["day", "month", "year"]).mean().reset_index(level=[0, 1, 2]).pivot(index='day', columns=['month', 'year'])
    return year_data.drop(['pm2.5', 'year', 'datetime', 'time'], axis=1).pivot_table(values=['day', 'month'], index='day', columns=['month'], aggfunc=np.mean)['sub_index']

In [7]:
test = month_wise_year_data(2022, 6928)
test

<Response [200]>

month,02,03,04,05,06,07,08,09,10
day,,,,,,,,,
01,NaN,NaN,173.448736,NaN,27.390278,NaN,55.729492,NaN,37.381226
02,NaN,NaN,92.290345,45.766463,30.604861,NaN,74.155848,NaN,17.912779
03,72.391034,NaN,104.623376,40.637500,34.695833,NaN,48.662021,NaN,155.825703
04,291.158276,NaN,78.655973,47.361197,NaN,NaN,NaN,NaN,43.781609
05,138.466724,NaN,52.030936,93.040872,NaN,451.656742,NaN,NaN,87.213220
06,NaN,NaN,58.885057,105.247454,25.889744,61.650490,NaN,NaN,182.219094
07,NaN,NaN,59.028320,151.333576,19.391667,62.656384,NaN,NaN,74.775066
08,NaN,NaN,66.733733,141.383797,NaN,150.958432,NaN,NaN,51.848983
09,NaN,NaN,48.470848,44.016073,NaN,564.814739,NaN,NaN,14.766667
10,NaN,NaN,48.580427,127.833024,NaN,698.795181,NaN,NaN,29.247823
11,NaN,NaN,NaN,107.265347,NaN,414.452216,NaN,NaN,138.591048
12,NaN,NaN,48.062665,45.623329,NaN,698.795181,NaN,NaN,31.741667
13,NaN,NaN,60.402015,56.245183,NaN,NaN,NaN,38.319928,43.339561
14,NaN,NaN,70.266166,102.600786,NaN,NaN,NaN,139.291807,94.554017
15,NaN,NaN,NaN,40.838095,NaN,NaN,NaN,3.333333,35.397917
16,NaN,NaN,47.424766,46.731515,NaN,NaN,NaN,12.150000,NaN
17,NaN,NaN,58.588664,116.893796,NaN,147.790346,NaN,5.016667,NaN
18,NaN,NaN,39.101494,124.345532,NaN,137.969254,NaN,NaN,NaN
19,NaN,NaN,48.077716,97.415172,NaN,23.819444,NaN,31.545230,NaN
20,NaN,NaN,62.448276,62.850981,NaN,20.199275,NaN,39.888365,NaN
21,NaN,NaN,99.429006,52.150364,NaN,18.125000,NaN,31.566174,NaN
22,NaN,NaN,432.867444,33.461806,NaN,20.208333,NaN,32.989583,NaN
23,NaN,NaN,401.973753,54.959802,NaN,19.722222,NaN,69.036338,NaN
24,NaN,NaN,67.265747,79.899520,NaN,18.055556,NaN,16.008696,NaN
25,NaN,41.444444,67.803236,31.267460,NaN,90.142039,NaN,90.021373,NaN
26,NaN,71.033206,99.091891,30.722619,NaN,46.005842,NaN,113.330948,NaN
27,NaN,NaN,44.322328,26.292308,NaN,23.888889,NaN,74.727519,NaN
28,NaN,153.888684,70.501098,37.077550,NaN,31.318966,NaN,40.936143,NaN
29,NaN,80.833266,255.431727,NaN,NaN,60.013070,NaN,101.087299,NaN
30,NaN,70.629055,78.347774,24.233333,NaN,172.773551,NaN,97.686191,NaN
31,NaN,82.803707,NaN,27.451282,NaN,86.504367,NaN,NaN,94.086207